html {
    font-size: 16px;
}
body {

}

p.text {
    margin-left: 15px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
ul.topnav li {
    float: left;
    border-right:1px solid #bbb;
}

ul.topnav li:last-child {
    border-right: none;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {
    float: right;
    border-left:1px solid #bbb;
}


div.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    min-height: 250px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.pagination{
    text-align: center;
    margin: 10px;
}

.pagination a {
    cursor: pointer;
    color: #333;
    font-size: 1.1em;
}

.pagination a.currentPage {
    color: #4CAF50;
}

.pagination a:not(:last-child),
.pagination a:not(:first-child) {
    margin: 0 5px;
}
.breadcrumb{
    padding: 10px;
}
.breadcrumbs-link {
    margin:  5px 10px;
    text-transform: capitalize;
    position: relative;
    text-decoration: none;
    color: #333;
}
.breadcrumbs-link:not(:last-child):after {
    content: '/';
    position: absolute;
    left: calc(100% + 8px);
    top: 1px;
    font-weight: bold;
    color: #4CAF50;

}
@media screen and (max-width: 480px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}